:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-primary: #5d8392;
  h1 {
    border-bottom: #7dd3fc 3px dashed; /*sky-300*/
  }
  a {
    border-bottom: #f9a8d4 2px dotted; /*pink-300*/
    color: #64748b; /*slate-500*/
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
  h1 {
    border-bottom: #5d8392 4px dashed;
  }
}